doctype html
html
	head
		title= `${title} | ${h.siteName}`
		link(rel='stylesheet', href='/dist/style.css')
		link(rel="shortcut icon" type="image/png" href="/images/icons/doughnut.png")
		meta(name="viewport" content="width=device-width, initial-scale=1")
	body
		block header

		block messages
			//- Flash messages can go here

		.content
			block content

		block scripts
			script(src=`https://maps.googleapis.com/maps/api/js?key=${process.env.MAP_KEY}&libraries=places`)
			script(src="/dist/App.bundle.js")
